name: Makefile CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Go to tests
      run: cd tests
    - name: ls_test
      run: ls
    - name: Build
      run: gcc -o insertOptions_test insertOptions_test.c Unity/unity.c testFunctions/insertOptions.c
    - name: Test
      run: ./insertOptions_test.exe
      
