name: Makefile CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build InsertOptions_test
      run: gcc -o tests/insertOptions_test tests/insertOptions_test.c tests/Unity/unity.c tests/testFunctions/insertOptions.c
    
    - name: Test InsertOptions
      run: tests/insertOptions_test.exe

    - name: Build queueFunctions_test 
      run: gcc -o tests/queueFunctions_test tests/queueFunctions_test.c tests/Unity/unity.c tests/testFunctions/queueFunctions.c
    
    - name: Test queueFnctions
      run: ttests/queueFunctions_test.exe